@import '~flickity/dist/flickity.min.css';

.flickity-button {
    background: #333;
}

.flickity-button:hover {
    background: rgb(50, 59, 104);
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}

/* position outside */
.flickity-prev-next-button.previous {
    left: 40px;
}

.flickity-prev-next-button.next {
    right: 40px;
}

.flickity-page-dots {
    bottom: -22px;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.flickity-page-dots .dot.is-selected {
    background: rgb(50, 59, 104);
}